.btn btn1 m-auto {
    padding: 10px 20px;
    background-color: #FDD835;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #FBC02D;
  }
  
  .btn.favorite {
    background-color: #EF5350;
  }
  
  .btn.favorite:hover {
    background-color: #E53935;
  }
  
  .custom-blockquote {
    background-color: #f8f9fa;
    border-left: 5px solid #007bff;
    padding: 15px;
    margin: 20px 0;
  }
  
  .quote-text {
    font-size: 18px;
    font-weight: bold;
  }
  
  .quote-author {
    margin-top: 10px;
    font-style: italic;
    color: #888;
  }
  
  .star-wars-bg {
    background-color: #212121;
    background-repeat: repeat;
    background-size: cover;
  }
  
  #nav{
    background-color: #212121;
  }

  .custom-btn {
    background-color: white;
    
  }
  
  .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .texto-blanco {
    background-color: white;
  }
  
 