.btn btn1 m-auto {
    /* Estilos generales del botón */
    padding: 10px 20px;
    background-color: #FDD835;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    /* Estilo al pasar el cursor sobre el botón */
    background-color: #FBC02D;
  }
  
  .btn.favorite {
    /* Estilo para el botón marcado como favorito */
    background-color: #EF5350;
  }
  
  .btn.favorite:hover {
    /* Estilo al pasar el cursor sobre el botón marcado como favorito */
    background-color: #E53935;
  }
  
 